body {
	font-family: "Ubuntu Mono", monospace;

	@media(min-width: $break1) {
		font-size: 1.1em;
	}
	@media(min-width: $break2) {
		font-size: 1.3em;
	}
	@media(min-width: $break3) {
		font-size: 1.5em;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6, p {
	line-height: 1.25em;
}